body {
  background-color: #333;
}

#geral {
  display: flex;
  height: 988px;
  width: 1404px;
  background-color: #333333;
  color: #f5cc00;
}

.subgeral {
  width: 1079px;
}

#img {
  display: flex;
  justify-content: center;
  height: 305px;
  background-color: #333333;
}

#inter {
  display: flex;
  justify-content: center;
  height: 988px;
  width: 328px;
  background-color: #b8a64d;
}

#container-geral {
  height: 683px;
  background-color: #333333;
}

#container1 {
  display: flex;
  height: 298px;
  width: 1079px;
  background-color: #333333;
  color: #f5cc00;
}

.subcontainer1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 298px;
  width: 689px;
  background-color: #333333;
}
.subcontainer1 p {
  justify-self: flex-start;
}
.subcontainer1 input {
  width: 524.28px;
  height: 54.01px;
  background-color: #585555;
}

.subcontainer1 input::placeholder {
  color: #f5cc00;
}

.subcontainer1 button {
  width: 61px;
  height: 59px;
  background-color: #585555;
}

.subcontainer1 button::placeholder {
  color: #f5cc00;
}

.subcontainer2 {
  display: flex;
  align-items: center;
  height: 298px;
  width: 390px;
  background-color: #333333;
}

#container2 {
  display: flex;
  height: 298px;
  width: 1079px;
  background-color: #333333;
}

.subcontainer3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 385px;
  width: 689px;
  background-color: #333333;
}

.subcontainer3 textarea {
  width: 593px;
  height: 275px;
  background-color: #585555;
}

.subcontainer3 textarea::placeholder {
  color: #f5cc00;
}

.subcontainer4 {
  height: 385px;
  width: 390px;
  background-color: #333333;
}
