body{
    background-color: #333;
}
input{
    color: #F5CC00;
    font-size: 17px;
    text-align: center;
}


/*                                                           montagem por ID */
#perfil{
    position: absolute;
    margin-right: 20%;
    left: 40%;
}
#busca{
    background-color: rgb(68, 67, 67);
    width: 300px;
    height: 30px;
    border-radius: 10px 10px 10px 10px;
}
#nome{
    background-color: rgb(68, 67, 67);
    position: relative;
    left: 25%;
    width: 200px;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
}
#descri{
    background-color: rgb(68, 67, 67);
    text-align: center;
    color: #F5CC00;
    border-color: black;
    position: absolute;
    top: 80%;
    left: 10%;
    width: 600px;
    height: 130px;

}
#text1{
    color: #F5CC00;
    position: fixed;
    top: 40%;
    font-size: 30px;
}



/*                                                             montagem por class */
.entrada{
    position: absolute;
    top: 50%;
    left: 10%;
}


/*                                                             modificar base*/
::-webkit-input-placeholder{
    color: #F5CC00;
    font-size: 17px;
    text-align: center;
}