@font-face {
  font-family: 'FrizQuadrataRegular';
  src: url(../fonts/FrizQuadrataRegular.ttf);
}

body {
  background-color: #333;
  color: white;
  font-size: 50px;
  font-family: 'FrizQuadrataRegular';
}